.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  /* background-color: #01a651; */
  background: linear-gradient(135deg, #4a9b7f,#0a3431, #71B280);
  padding: 10px 0;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-text 20s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.separator {
  margin: 0 10px;
  color: #c40233;
}
